<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" Title="Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Dashboard" Title="Dashboard" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Users" Title="Manage Users" PermissionNames="ManageUsers, ManageActivityLog" IconClass="fa-user" >
      <siteMapNode SystemName="User list" Title="User List" PermissionNames="ManageUsers" controller="User" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="User roles" Title="User Roles" PermissionNames="ManageUsers" controller="UserRole" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Online users" Title="Online Users" PermissionNames="ManageUsers" controller="OnlineUser" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Customer reports" Title="User Reports" PermissionNames="ManageUsers" controller="User" action="Reports" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Activity log" Title="Activity Log" PermissionNames="ManageActivityLog" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Activity log list" Title="Activity Log List" controller="ActivityLog" action="ListLogs" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Activity types" Title="Activity Log Type" controller="ActivityLog" action="ListTypes" IconClass="fa-genderless"/>
      </siteMapNode>
    </siteMapNode>
    <siteMapNode SystemName="Purchasing" Title="Purchasing Reports" PermissionNames="PurchasingReports" IconClass="fa-user" >
      <siteMapNode SystemName="Purchasing List" Title="Purchasing List" PermissionNames="PurchasingReports" controller="Purchasing" action="List" IconClass="fa-dot-circle-o" />
    </siteMapNode>
  </siteMapNode>
</siteMap>

